version: '3.8'

services:
  frontend:
    restart: always

    build:
      context: ./frontend
    ports:
      - "3000:3000"
    networks:
      - app-network
    env_file:
      - ./.env

  backend:
    restart: always

    build:
      context: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - app-network

  coreiot:
    restart: always

    build:
      context: ./coreiot
    ports:
      - "8050:8050"
    networks:
      - app-network
    env_file:
      - ./.env
    volumes:
      - ./ai/faceId:/app  # Mount the local directory into the container
    depends_on:
      - mongo
  mongo:
    image: mongo
    # user: "1000:1000" 
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: mydatabase
    volumes:
      - ./mongo-data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    command: ["mongod", "--unixSocketPrefix", "/data/db", "--bind_ip_all"]
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    ports:
      - "27017:27017"
volumes: # Declare the named volumes
  mongo-data:

  pytorch_volume:

networks:
  app-network:
    driver: bridge